:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button-color: #ffffff;
  --primery-bg-color: #2f303a;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --text-hero-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --button-primari-hover: #188ce8;
  --footer-link-contact: rgba(255, 255, 255, 0.6);
  --tiam-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --soc-icon-color: #afb1b8;
  --footer-soc-link-color: rgba(255, 255, 255, 0.1);
  --portfolio-top-text: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --textarea-color: rgba(117, 117, 117, 0.5);
  --card-item: 3;
  --card-gap: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
}

.card-item {
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
}

.nav__logo {
  margin-right: 93px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--black {
  color: var(--logo-header-color);
}

.logo--white {
  color: var(--logo-footer-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  color: var(--title-text-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__container {
  display: flex;
}

.nav__link,
.contact__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  position: relative;
  transition: color var(--time-function);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__link:hover,
.nav__link:focus,
.contact__link:hover,
.contact__link:focus,
.current {
  color: var(--accent-color);
}

.nav__link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.soc {
  display: flex;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc__item:last-child {
  margin-right: 0;
}

.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--time-function);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
}

.soc__icon {
  fill: var(--soc-icon-color);
  transition: fill var(--time-function);
}

.soc__link:hover .soc__icon,
.soc__link:focus .soc__icon {
  fill: var(--accent-button-color);
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: var(--accent-button-color);
  font-family: inherit;
  background-color: var(--accent-color);
  transition: background-color var(--time-function);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
.button:hover, .button:focus {
  background-color: var(--button-primari-hover);
}

.filter__button {
  padding: 6px 22px;
  min-width: 73px;
  transition: background-color var(--time-function), color var(--time-function), box-shadow var(--time-function);
  background-color: var(--button-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.62;
}
.filter__button:hover, .filter__button:focus {
  color: var(--accent-button-color);
  background-color: var(--accent-color);
}

.button__icon {
  height: 50px;
  fill: var(--accent-button-color);
  display: flex;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item + .item {
  margin-left: 8px;
}

.filter .button:hover,
.filter .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact__icon {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition: fill var(--time-function);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

.address__link {
  color: var(--accent-button-color);
  transition: color var(--time-function);
}

.contact__link--grey {
  color: var(--footer-link-contact);
  display: block;
  transition: color var(--time-function);
  padding: 0;
}

.address__link:hover,
.address__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.address__list .link {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: inherit;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item + .item {
  margin-left: 50px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primery-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-top: 0%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--text-hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.feature__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__icon {
  height: 120px;
  background: var(--button-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__list {
  --card-item: 4;
}

.work__item {
  position: relative;
}

.work__box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--work-bg-color);
}

.work__tex {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}

.work {
  text-align: center;
}

.section-work {
  padding-top: 0;
}

.work__list .card-item {
  flex-basis: calc(33.3333333333% - 30px);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--tiam-bg-color);
  text-align: center;
}

.team__title {
  margin-bottom: 50px;
}

.team__item {
  display: inline-block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__bloc {
  padding: 30px;
}

.team__list {
  --card-item: 4;
}

.customers__item {
  --card-item: 6;
}

.customers__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--soc-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: border-color var(--time-function);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.customers__icon {
  fill: var(--soc-icon-color);
  transition: fill var(--time-function);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--primery-bg-color);
  padding: 60px 0;
}
.footer .soc__link {
  background-color: var(--footer-soc-link-color);
}
.footer .soc__icon {
  fill: var(--accent-button-color);
}
.footer .footer__contact {
  margin-right: 70px;
}
.footer .footer__input {
  line-height: 1.25;
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--accent-button-color);
  border-radius: 4px;
  background-color: inherit;
  transition: border-color var(--time-function);
  outline: none;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  text-transform: uppercase;
  color: var(--logo-footer-color);
  margin-bottom: 20px;
}

.footer .soc__link:hover,
.footer .soc__link:focus {
  background-color: var(--accent-color);
}

.footer__input:focus {
  border-color: var(--accent-color);
}

.footer__email {
  display: flex;
  align-items: flex-end;
}

.icon-submit {
  margin-left: 10px;
  fill: var(--accent-button-color);
}

.footer__form {
  margin-left: auto;
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__item {
  width: 370px;
  padding: 20px 24px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--portfolio-border-color);
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--time-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__link:hover .portfolio-top-text,
.portfolio__link:focus .portfolio-top-text {
  transform: translateY(0);
  opacity: 1;
  color: var(--logo-footer-color);
}

.portfolio-top-blok {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  color: var(--accent-color);
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  padding: 63px 24px;
  transition: transform var(--time-function), color 350ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio__list .card-item {
  flex-basis: calc(33.3333333333% - 30px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--text-hero-color);
  transition: transform var(--time-function);
}

.button-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--time-function);
}
.button-modal:hover, .button-modal:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  padding-top: 0;
  padding-left: 42px;
  outline: none;
  transition: border-color var(--time-function);
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.madal__label {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
}

.modal__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  transition: border-color var(--time-function);
}
.modal__text:focus {
  border-color: var(--accent-color);
}

.modal__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--time-function);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.link-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 4px;
}

.modal__field {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.check-text {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-header-color);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  fill: transparent;
  transition: background-color var(--time-function), border-color var(--time-function);
}

.modal__check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.modal__check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--accent-button-color);
  display: flex;
  justify-content: center;
}

.modal__check:focus + .check-text span {
  border-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */