.contact__icon {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition: fill var(--time-function);
}
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}
.address__link {
  color: var(--accent-button-color);
  transition: color var(--time-function);
}

.contact__link--grey {
  color: var(--footer-link-contact);
  display: block;
  transition: color var(--time-function);
  padding: 0;
}

.address__link:hover,
.address__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link--mail {
  padding-top: 21px;
  padding-bottom: 5px;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact__link--tel {
  padding-bottom: 21px;
  padding-top: 5px;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.address__list .link {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 8px;
  }
}
.address__item:last-child {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.address__item {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.address {
  font-style: inherit;
}
.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contact__item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.contact__link {
  font-size: 12px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: inherit;
    line-height: 1.14;
  }
}
