.card-set {
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
  flex-wrap: wrap;
  display: flex;
}
.card-item {
  margin-top: 30px;
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-left: var(--card-gap);
}
