.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.mob-menu__container {
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}
