.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-text-color);
  // font-size: 36px;
  line-height: 1.18;
  // margin-bottom: 50px;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}
